<%- include('templates/header') -%> 
  

<div class="container">
  
  <h3 class="font-weight-bold text-center m-2">Data Dosen</h3>
  <form action="/dosen/search" method="post">
    <input type="search" name="search" id="search" class="form-control col-md-4 float-right shadow-lg p-2" placeholder="Search Dosen By Kota Or Provinsi">
  </form>
  <a href="/dosen/tambah" class="btn btn-outline-success mb-3">Tambah Data</a>
  <table class="table table-stripped table-hover shadow-lg">
    <thead class="bg-primary text-white">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nama</th>
        <th scope="col">Gender</th>
        <th scope="col">Alamat</th>
        <th scope="col">Telepon</th>
        <th scope="col">Email</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% if (data.length !== 0) { %>
        <% data.forEach((value, index) => { %>
          <tr>
            <th scope="row"><%= ++index %></th>
            <td><%= value.nama %></td>
            <td><%= value.jenis_kelamin %></td>
            <td><%= value.alamat %>, Kab. <%= value.nama_kota %>, Prov. <%= value.nama_provinsi %></td>
            <td><%= value.telepon %></td>
            <td><%= value.email %></td>
            <td>
              <a href="/dosen/edit/<%= value.id_dosen %> " class="px-3 py-2 m-1 badge badge-pill badge-primary">Edit</a>
              <a href="/dosen/delete/<%= value.id_dosen %>" class="px-3 py-2 m-1 badge badge-pill badge-danger">Delete</a>
            </td>
          </tr>
        <% }) %>
      <% } else { %>
        <tr>
          <td colspan="8" style="text-align: center;">
            No Data Dosen
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>

<%- include('templates/footer') -%>