<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <title><%= title %> </title>
</head>
<body>
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand font-weight-bold mr-5" href="#">NodeJS App</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link <%= (activeStateMahasiswa == 'active') ? 'active badge-pill bg-primary px-3' : '' %>" href="/mahasiswa">Mahasiswa</a>
          <a class="nav-item nav-link <%= (activeStateDosen == 'active') ? 'active' : '' %>" href="/dosen">Dosen</a>
          <a class="nav-item nav-link <%= (activeStateMatkul == 'active') ? 'active' : '' %>" href="/matkul">Mata Kuliah</a>
          <a class="nav-item nav-link <%= (activeStateJadwal == 'active') ? 'active' : '' %>" href="/jadwal">Jadwal</a>
          <a class="nav-item nav-link <%= (activeStateProvinsi == 'active') ? 'active' : '' %>" href="/provinsi">Provinsi</a>
          <a class="nav-item nav-link <%= (activeStateKota == 'active') ? 'active' : '' %>" href="/kota">Kota</a>
        </div>
      </div>
    </div>
  </nav>